<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>CX Games</title>
</head>

<body>
    <h1 id="title-text">Citrus Game Collection</h1>
    <div class="masonry-container">
        {% for gametype in gamelistkeys %}
            {% case gametype %} 
                {% when "emulators","flash","irishgreencitrus" %}
                    {% for game in gamelist[gametype] %}
                        <a href="games/{{ gametype }}/{{ game }}.html"><img src="icons/{{ game }}.jpg" alt=" "></a>
                    {% endfor %}
                {% when "pico8" %}
                    {% for game in gamelist[gametype] %}
                        <a href="games/pico8/{{ game }}.html"><img src="icons/{{ game }}.p8.png" alt=" "></a>
                    {% endfor %}
                {% when "folder" %}
                    {% for game in gamelist[gametype] %}
                        <a href="games/{{ game }}"><img src="icons/{{ game }}.jpg" alt=" "></a>
                    {% endfor %}
            {% endcase %}
        {% endfor %}
    </div>
</body>

</html>