<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>CX Games</title>
</head>

<body>
    <h1 id="title-text">Citrus Game Collection</h1>
    <input type="text" name="Search" id="searcher" placeholder="Search" oninput="">
    <div>
    <label for="platformfilter">FILTER PLATFORM: </label>
    <select name="platformfilter" id="platformfilter">
        <option value="nil">None</option>
        <option value="irishgreencitrus">By irishgreencitrus</option>
        <option value="flash">Flash</option>
        <option value="pico8">Pico-8</option>
        <option value="native">Native</option>
        <option value="nes">NES</option>
        <option value="snes">SNES</option>
        <option value="gb">Gameboy</option>
        <option value="gba">Gameboy Advance</option>
        <option value="n64">Nintendo 64</option>
        <option value="segaMD">Sega Mega Drive</option>
    </select>
    </div>
    <br>
    <section id="masonry-container">
        <!-- Game Emulators -->
        {% for game in games["emulators"] %}
            <a href="games/emulators/{{ game[0] }}.html" g_platform="{{game[1].platform}}" g_name="{{game[1].name}}"><img src="icons/{{ game[0] }}.jpg" alt="{{game[1].name}}"></a>
        {% endfor %}

        {% assign othergames = "flash,irishgreencitrus,pico8" | split: ',' %}
        {% for gametype in othergames %}
            <!-- {{gametype}} Games -->
            {% for game in games[gametype] %}
            <a href="games/{{gametype}}/{{ game[0] }}.html" g_platform="{{gametype}}" g_name="{{game[1].name}}"><img src="icons/{{ game[0] }}.jpg" alt="{{game[1].name}}"></a>
            {% endfor %}
        {% endfor %}

        {% for game in games["folder"] %}
            <!-- Folder Games -->
            <a href="games/emulators/{{ game[0] }}" g_platform="native" g_name="{{game[1].name}}"><img src="icons/{{ game[0] }}.jpg" alt="{{game[1].name}}"></a>
        {% endfor %}
        
    </section>
    <script src="https://unpkg.com/fuzzy-search@3.2.1/dist/FuzzySearch.js"></script>
    <script src="index.js"></script>
</body>

</html>